## Probability of winning the lottery

The project aims to estimate the chance of winning the lottery. This should help the lottery addicts to have a better understanding of their chances. The idea is to develop a mobile app, this app focuses on three questions:

-What is the probability of winning the big prize with a single ticket?

-What is the probability of winning the big prize if we play 40 different tickets (or any other number)?

-What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

In [24]:
def factorial(n):
    product=1
    for i in range(n,0,-1):
        product*=i
    return product

In [25]:
def combinations(n,k):
    return factorial(n)/(factorial(k)*factorial(n-k))

In [26]:
def one_ticket_probability(numbers):
    comb=combinations(49,6)
    prob=1/comb
    perc=prob*100
    print('''The probability of winning with this set of numbers {} is: {:.8f}%'''.format(numbers, perc))

In [27]:
n=[2,25,40,41,36,3]
one_ticket= one_ticket_probability(n)
one_ticket

The probability of winning with this set of numbers [2, 25, 40, 41, 36, 3] is: 0.00000715%

In [28]:
n_1=[8,10,13,27,28,31]
one_ticket= one_ticket_probability(n)
one_ticket

The probability of winning with this set of numbers [2, 25, 40, 41, 36, 3] is: 0.00000715%

The probability of winning remains the same. It's near the 0%, when we use just a set of numbers because there is just a successful outcome.

In [29]:
import pandas as pd
df=pd.read_csv("649.csv")
df.shape

(3665, 11)

In [30]:
df.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [31]:
df.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [32]:
def extract_numbers(row):
    row= row[4:10]
    row=set(row.values)
    return row
w_numbers=df.apply(extract_numbers, axis=1)
w_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [33]:
def check_historical_occurence(u_numbers, h_numbers):
    u_numbers_1=set(u_numbers)
    comp=u_numbers_1==w_numbers
    comp=comp.sum()
    if comp==0:
        print('''The number of times your numbers {} matched the winning numbers from 1982 to 2018 is: 0'''.format(u_numbers))
    else:
        print('''The number of times your numbers {} matched the winning numbers from 1982 to 2018 is: {}.
        The probability of winning the next time with the same set of numbers is 0.00000715%'''.format(u_numbers, comp))

In [34]:
inp_1=[2,4,34,26,12,16]
test_1= check_historical_occurence(inp_1, w_numbers)

The number of times your numbers [2, 4, 34, 26, 12, 16] matched the winning numbers from 1982 to 2018 is: 0

In [35]:
inp_2=[8,14,22,36,40,5]
test_2= check_historical_occurence(inp_2, w_numbers)

The number of times your numbers [8, 14, 22, 36, 40, 5] matched the winning numbers from 1982 to 2018 is: 0

In [36]:
def multi_ticket_probability(n):
    n_outcomes= combinations(49,6)
    succ=n
    prob= n/n_outcomes
    perc=prob*100
    return print('''The probability of winning based on {} tickets is {:.7f}'''.format(n,perc))

In [37]:
inputs=[1, 10, 100, 10000, 1000000, 6991908, 13983816]
for i in inputs:
    multi_ticket_probability(i)

The probability of winning based on 1 tickets is 0.0000072
The probability of winning based on 10 tickets is 0.0000715
The probability of winning based on 100 tickets is 0.0007151
The probability of winning based on 10000 tickets is 0.0715112
The probability of winning based on 1000000 tickets is 7.1511238
The probability of winning based on 6991908 tickets is 50.0000000
The probability of winning based on 13983816 tickets is 100.0000000

In [42]:
def probability_less_6(element):
    n_combination=combinations(6, element)
    n_succ=combinations(43,6-element)
    succ_comb= n_combination*n_succ
    total= combinations(49,6)
    prob=succ_comb/total
    perc=prob*100
    return print('''The probability of having {} winning numbers is: {:.7f}%'''.format(element, perc))

In [43]:
for i in [2,3,4,5]:
    probability_less_6(i)

The probability of having 2 winning numbers is: 13.2378029%
The probability of having 3 winning numbers is: 1.7650404%
The probability of having 4 winning numbers is: 0.0968620%
The probability of having 5 winning numbers is: 0.0018450%

With this function, we calculate the probability of winning with 2,3,4,5 numbers.