In [1]:
import pandas as pd
jeopardy=pd.read_csv("jeopardy.csv")
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [2]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [3]:
jeopardy.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

In [4]:
jeopardy.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [5]:
jeopardy.dtypes

Show Number     int64
Air Date       object
Round          object
Category       object
Value          object
Question       object
Answer         object
dtype: object

In [6]:
import re
def norm(string):
    string=string.lower()
    string=re.sub("[^A-Za-z0-9\s]","", string)
    string=re.sub("\+s","", string)
    return string

In [7]:
jeopardy["clean_question"]=jeopardy["Question"].apply(norm)
jeopardy["clean_answer"]=jeopardy["Answer"].apply(norm)

In [8]:
def val(value):
    value=re.sub("[^A-Za-z0-9\s]","", value)
    try:
        value=int(value)
    except Exception:
        value=0
    return value

In [9]:
jeopardy["clean_value"]=jeopardy["Value"].apply(val)

In [10]:
jeopardy["AirDate"]=pd.to_datetime(jeopardy["Air Date"])
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,AirDate
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus,200,2004-12-31
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe,200,2004-12-31
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona,200,2004-12-31
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds,200,2004-12-31
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams,200,2004-12-31

In [11]:
def ans_que(row):
    split_answer=row["clean_answer"].split()
    split_question=row["clean_question"].split()
    match_count=0
    if "the" in split_answer:
        split_answer.remove("the")
    if len(split_answer)==0:
        return 0
    for i in split_answer:
        if i in split_question:
            match_count+=1
    return match_count/len(split_answer)

In [12]:
jeopardy["answer_in_question"]=jeopardy.apply(ans_que, axis=1)

In [13]:
jeopardy["answer_in_question"].mean()

0.05900196524977763

The answers in questions are just the 6%, so, in order to answer the questions, we have to study (we can't just jope to hear the question and having the answer from it)

In [14]:
question_overlap=[]
terms_used=set()
jeopardy=jeopardy.sort_values("Air Date")
jeopardy.tail(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,AirDate,answer_in_question
1953,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$800,"Ships in the U.S. Navy's Casablanca class of ""...",aircraft carriers,ships in the us navys casablanca class of esco...,aircraft carriers,800,2012-01-19,0.0
1954,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,$800,Dennis Haysbert & D.B. Woodside as David & Way...,24,dennis haysbert db woodside as david wayne p...,24,800,2012-01-19,0.0
1955,6294,2012-01-19,Double Jeopardy!,4 N,$800,"""U"" know it means not deliberate; I'm sorry, t...",unintentional,u know it means not deliberate im sorry that s...,unintentional,800,2012-01-19,0.0
1945,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,$400,In December 1974 this former New York governor...,Rockefeller,in december 1974 this former new york governor...,rockefeller,400,2012-01-19,0.0
1922,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$400,In 1997 Tyco International moved to this U.K. ...,Bermuda,in 1997 tyco international moved to this uk te...,bermuda,400,2012-01-19,0.0

In [15]:
for i, row in jeopardy.iterrows():
    split_question=row["clean_question"].split(" ")
    split_question = [q for q in split_question if len(q) > 5]
    match_count=0
    for w in split_question:
        if w in terms_used:
            match_count+=1
        terms_used.add(w)
    if len(split_question)>0:
        match_count/=len(split_question)
    question_overlap.append(match_count)

In [16]:
jeopardy["question_overlap"]=question_overlap

In [17]:
jeopardy["question_overlap"].mean()

0.6894031359073245

There is a 70% of terms overlapping, but this doesn't mean that we are able to answer the questions by only the overlapping words among questions

In [18]:
def fun(row):
    value=0
    if row["clean_value"]>800:
        value=1
    return value

In [19]:
jeopardy["high_value"]=jeopardy.apply(fun, axis=1)

In [20]:
def fun2(word):
    low_count=0
    high_count=0
    for i,row in jeopardy.iterrows():
        if word in row["clean_question"].split(" "):
            if row["high_value"]==1:
                high_count+=1
            else:
                low_count+=1
    return high_count,low_count

In [21]:
from random import choice
terms_used=list(terms_used)
comparison_terms = [choice(terms_used) for _ in range(10)]
observed_expected=[]
for l in comparison_terms:
    observed_expected.append(fun2(l))

In [22]:
observed_expected

[(0, 2),
 (1, 0),
 (0, 1),
 (0, 1),
 (1, 0),
 (0, 1),
 (0, 1),
 (0, 1),
 (1, 1),
 (1, 1)]

In [23]:
high_value_count=jeopardy[jeopardy["high_value"]==1].shape[0]
low_value_count=jeopardy[jeopardy["high_value"]==0].shape[0]

In [24]:
high_value_count

5734

In [25]:
low_value_count

14265

In [26]:
from scipy.stats import chisquare
import numpy as np
chi_squared=[]
for i in observed_expected:
    total=sum(i)
    total_prop=total/jeopardy.shape[0]
    exp_h=total_prop*high_value_count
    exp_l=total_prop*low_value_count
    observed=np.array([i[0],i[1]])
    expected=np.array([exp_h, exp_l])
    chi_squared.append(chisquare(observed, expected))

In [27]:
chi_squared

[Power_divergenceResult(statistic=0.803925692253768, pvalue=0.3699222378079571),
 Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.4448774816612795, pvalue=0.5047776487545996),
 Power_divergenceResult(statistic=0.4448774816612795, pvalue=0.5047776487545996)]

The p-value is generally high so there isn't a significant difference between low and high values

In [28]:
stopwords=["the","than","a","an", "about", "above", "so", "some", "such", "to", "too", "until", "of","because", "else","later","neither","on","usually"]

In [29]:
def remove_words(list1, remove_words):
    for word in list(list1):
        if word in remove_words:
            list1.remove(word)
    return list1

In [30]:
terms_withoutstop=remove_words(terms_used, stopwords)

In [31]:
len(terms_withoutstop)

24466

In [32]:
for i in stopwords:
     if i in terms_withoutstop:
            print(True)
     else:
        print(False)

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

I removed some stopwords, because you can encounter those words in the future but they aren't useful to give information and to answer to future questions.